<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RetropieMetadataEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <RetropieMetadataEditor.Properties.Settings>
            <setting name="PathRoms" serializeAs="String">
                <value>\\retropie\roms\{SYSTEM}</value>
            </setting>
            <setting name="PathGamelists" serializeAs="String">
                <value>\\retropie\configs\all\emulationstation\gamelists\{SYSTEM}</value>
            </setting>
            <setting name="PathImages" serializeAs="String">
                <value>\\retropie\configs\all\emulationstation\downloaded_images\{SYSTEM}</value>
            </setting>
            <setting name="ImageEditingSoftware" serializeAs="String">
                <value>%windir%\system32\mspaint.exe</value>
            </setting>
            <setting name="ImageNameSuffix" serializeAs="String">
                <value>-image</value>
            </setting>
            <setting name="PathImagesLocal" serializeAs="String">
                <value>/home/pi/.emulationstation/downloaded_images/{SYSTEM}</value>
            </setting>
            <setting name="IES1" serializeAs="String">
                <value>C:\Program Files (x86)\Jasc Software Inc\Paint Shop Pro 9\Paint Shop Pro 9.exe</value>
            </setting>
            <setting name="IES2" serializeAs="String">
                <value>%windir%\system32\mspaint.exe</value>
            </setting>
        </RetropieMetadataEditor.Properties.Settings>
    </userSettings>
</configuration>
